$color-maintxt: #1f1f1f;
$color-sectxt: #f6f6f6;
$color-accent: #fe8315;
$color-accent2: #1b998b;

@mixin light-font($fontSize) {
    font-size: $fontSize;
    color: $color-sectxt;
    margin: 0;
    font-weight: 700;
} 

@mixin dark-font($fontSize) {
    font-size: $fontSize;
    color: $color-maintxt;
    margin: 0;
}  

@mixin accent-font($fontSize) {
    font-size: $fontSize;
    color: $color-accent;
    margin: 0;
}

@mixin cursive-font($fontSize) {
    font-family: 'Satisfy', cursive;
    font-size: $fontSize;
    color: $color-maintxt;
    margin: 0;
}
body {
    font-family: 'Lobster', cursive;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}